body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: "Montserrat", sans-serif;
}

input[type="datetime-local"]::-webkit-datetime-edit-text {
  padding: 0 0.1em;
}

/* Space for dropped items */
[data-rbd-droppable-context-id] {
  min-height: 20px;
}

.task-card {
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

/* Filter Box */
.filter-dropdown {
  appearance: none;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%239B2C62' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
  background-position: right 0.75rem center;
  background-repeat: no-repeat;
  background-size: 1.25em 1.25em;
  cursor: pointer;
  transition: all 0.15s ease;
  padding-right: 2.5rem;
}

.filter-dropdown:hover {
  border-color: #9b2c62;
}

.filter-dropdown:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(155, 44, 98, 0.15);
}

.filter-dropdown option.high {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Ccircle cx='4' cy='4' r='4' fill='%23F59E0B'/%3E%3C/svg%3E")
    no-repeat left center;
  padding-left: 20px;
}

.filter-dropdown option.medium {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Ccircle cx='4' cy='4' r='4' fill='%233B82F6'/%3E%3C/svg%3E")
    no-repeat left center;
  padding-left: 20px;
}

.filter-dropdown option.low {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Ccircle cx='4' cy='4' r='4' fill='%239CA3AF'/%3E%3C/svg%3E")
    no-repeat left center;
  padding-left: 20px;
}

/* Hover/selected states */
.filter-dropdown option:hover,
.filter-dropdown option:focus,
.filter-dropdown option:checked {
  background-color: #f3e8ed !important;
  color: #9b2c62 !important;
}

/* For Firefox - removes dotted outline */
.filter-dropdown option:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #9b2c62;
}

/* For WebKit browsers (Chrome, Safari, Edge) */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* For Firefox */
.hide-scrollbar {
  scrollbar-width: none;
}

/* For IE and Edge */
.hide-scrollbar {
  -ms-overflow-style: none;
}

@media (max-width: 640px) {
  table {
    display: block;
    overflow-x: auto;
  }
}
