body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: "Montserrat", sans-serif;
}

input[type="datetime-local"]::-webkit-datetime-edit-text {
  padding: 0 0.1em;
}
/* Ensure draggables have pointer-events */
[data-rbd-drag-handle-context-id] {
  cursor: grab;
}

/* Space for dropped items */
[data-rbd-droppable-context-id] {
  min-height: 20px;
}

.task-card {
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
